/* Navbar.css */
nav {
    background-color: #046281;
    padding: 15px 0;
    display: flex;
    align-items: center;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin: 0 15px;
  }
  
  a {
    text-decoration: none;
    color: rgb(26, 26, 22);
    font-size: 18px;
    transition: color 0.3s;
  }
  
  a:hover {
    color: rgb(110, 36, 36);
  }
  
  .search-bar input {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
  }
  .search-bar {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .search-button {
    padding: 10px 20px; /* Increase padding for a larger button */
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Adjust font size for better visibility */
    transition: background-color 0.3s;
  }
  
  .search-button:hover {
    background-color: #444;
  }
  /* Add more custom styles as needed */
  
  .logo {
    width: 100px; /* Set the width of the logo */
    height: auto; /* Allow the height to adjust proportionally */
  }
  .right-section {
    display: flex;
    align-items: center;
    margin-left: auto; /* Push the section to the extreme right */
    list-style: none;
    padding: 0; /* Remove padding to align with extreme right */
  }
  
  .right-section a {
    text-decoration: none;
    color: rgb(30, 36, 38);
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .right-section a:hover {
    color: rgb(110, 36, 36);
  }
  